/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* HTML */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
.size{
    font-size: 1.5em;
}

.size-m{
    font-size: 1em;
}

.size-s{
    font-size: .8em;
}

.size-xs{
    font-size: .6em;
}

.white{
    color: white;
}

.light-grey{
    color: #5a5a5a;
}

.padding-1{
    padding: 1em;
}

.padding-l-1{
    padding-left: 1em;
}

.margin-b-1{
    margin-bottom: .5em;
}


/* SIDEBAR */
.container-sidebar{
    display: flex;
}


.sidebar{
    background-color: black;
    height: calc(100% - 100px);
    min-height: 550px;
    width: 160px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
}

.plus-icon{
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: 5px;
}

.logo{
    width: 90%;
    padding-left: 1em;
    padding-top: 1em;
}

.logo-s{
    display: none;
    width: 40%;
    margin-left: 15px;
    padding-top: 1em;
}

.cta-side{
    position: absolute;
    bottom: 2px;
    margin-left: 10px;
}

hr{
    width: 100%;
    margin: 10px 0 10px 0;
}

.list-side{
    list-style-type: none;
}

.list-item-side{
    display: flex;
    align-items: center;
}

.list-side li:hover{
    color: white;
}

.list-side li:hover .icon{
    border-left: 1px solid greenyellow;
}

.icon{
    width: 20%;
    margin-right: 10px;
}


.profile-bar{
    display: flex;
    align-items: center;
}

.profile-img{
    width: 25px;
    height: 25px;
    object-fit: fill;
    background-color: #808080;
    border-radius: 50%;
    padding: 1px;
}

.playlist:hover{
    color: white;
}


/* RESPONSIVE AREA SIDE BAR */
@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }

    .list-side{
        display: none;
    }

    .playlist{
        display: none;
    }

    .logo-s{
        display: block;
        width: 100%;
    }

    .cta-side{
        display: none;
    }

    .sidebar{
        width: 50px;
        height: 100%;
    }

    img.margin-b-1{
        margin-right: 25px;
    }
/* NON FUNZIONA */
    .profile-img{
        display: block;
        width: 50px;
    }

}

/* MAIN */
main{
    background-color: #141923;
    width: 100%;
    min-width: 500px;
}

.container-main{
    height: calc(100% - 100px);
    width: calc(100% - 150px);
    margin-bottom: 150px;
    margin-left: 150px;
    margin-top: 70px;
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 997;
    top: 0%;
    right: 0%;
    overflow-y: auto;
}

.button-upgrade{
   border: 2px solid white;
   border-radius: 20px;
   padding: 10px 20px 10px 20px;
   color: white;
   text-decoration: none;
   font-size: .8em;
    margin-right: 15px;
}

.button-upgrade:hover{
    transform: scale(1.1);
}

.list-main{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;
    flex-wrap: wrap;
}

.border-b:hover{
    color: white;
    border-bottom: 1px solid greenyellow;
}


.recently-played{
    display: flex;
    width: 100%;
    padding: 0 1em 0 1em;
}

.card-album{
    width: calc(100% / 6);
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;

    /* DEBUG */
    /* background-color: white; */
}

.img-card{
    width: 100%;
}

.img-card-circle{
    width: 100%;
    border-radius: 50%;
}

/* RESPONSIVE AREA MAIN */

@media screen and (max-width: 700px) {
    .recently-played{
        flex-wrap: wrap;
    }
    
    .card-album{
        width: calc(100% / 4 - 20px);
    }


}

@media screen and (max-width: 600px) {
    .card-album{
        width: calc(100% / 2 - 20px);
    }

    .upgrade{
        width: 100%;
    }

    .container-main{
        width: calc(100% - 50px);
        margin-left: 50px;
    }

   
}


/* FOOTER */
.media-player{
    background-color: #282828;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    width: 30%;
}

.footer-text-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-footer{
    width: 15%;
    margin-right: 10px;
    margin-left: 10px;
}

.music-player{
    text-align: center;
    border: 2px solid #5a5a5a;
    width: 90%;
    margin: 0 20px 0 20px;
    border-radius: 30px;
}

.footer-right{
    width: 30%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.music-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.footer-middle{
    width: 100%;
}

.music-bar{
    display: flex;
    align-items: center;
    width: 100%;
}

.music-button{
    display: flex;
    align-items: center;
}

.play-button{
    padding-right: 5px;
}

.play-button:hover{
    transform: scale(1.2);
}

.time-player{
    width: 30%;
    border: 2px solid white;
    border-radius: 30px;
}

.time-player:hover{
    border: 2px solid greenyellow;
}

.footer-icon-left{
    margin-right: 30px;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.circle{
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
}

.volume-player{
    border: 2px solid #5a5a5a;
    width: 30%;
    margin: 0 20px 0 20px;
    border-radius: 30px;
}

.footer-icon-right{
    display: flex;
    align-items: center;
}

/* RESPONSIVE AREA FOOTER */

@media screen and (max-width: 600px) {
    .footer-icon-left{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

   .footer-icon-right{
    font-size: .8em;
   }
}